@import "./common.scss";
.app {
  @include themify($themes) {
    display: flex;
    .main {
      flex: 7;
      background-color: themed("bgSoft");
      color: themed("textColor");
      .wrapper{
        padding: 22px 96px;
      }
    }
  }
}
