$themes:(
    light:(
        textColor:#000,
        bg: white,
        logo: rgb(190, 52, 52),
        bgSoft: rgb(229, 229, 227),
        textColorSoft: rgb(73, 69, 69),
        buttonBg: slateblue,
        border:lightgrey
    ),
    dark:(
        textColor:#fff,
        bg: #202020,
        logo: #fff,
        bgSoft: #181818,
        textColorSoft: rgb(191, 190, 190),
        buttonBg: #4f4a6c,
        border:#373737
    ),
);

@mixin themify($themes){
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme),"#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                 (
                    $key: $value,
                 )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

// @mixin mobile{
//     @media(min-width:480px){
//         @content;
//     }
// }