@import '../common.scss';
.home{
    @include themify($themes){
        background-color: themify('bgSoft');
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 100vh;
    }
}