@import "../common.scss";
.card {
  @include themify($themes) {
    width: 330px;
    margin-bottom: 45px;
    cursor: pointer;
    img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: 202px;
      background-color: #999;
    }
    .details {
      display: flex;
      margin-top: 16px;
      gap: 12px;
      .avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
      .info {
        .title {
          font-size: 16px;
          font-weight: 500;
          color: themed("textColor");
        }
        .channel {
          font-size: 14px;
          color: themed("textColor");
          margin: 6px 0px;
        }
        .stats {
          font-size: 14px;
          color: themed("textColor");
        }
      }
    }
    &Sm {
      width: 100%;
      display: flex;
      margin-bottom: 10px;
      gap: 10px;
      &:hover .details .info #recommendation-options {
        visibility: visible;
      }
      a {
        flex: 1;
        overflow: hidden;
        img {
          border-radius: 25px;
          object-fit: cover;
          height: 100px;
        }
      }
      .details {
        flex: 1;
        margin-top: 0px;
        .avatar {
          display: none;
        }
        .info {
          width: 100%;
          position: relative;
          .channel {
            font-size: 14px;
            font-weight: normal;
            color: themed("textColorSoft");
          }
          .stats {
            font-size: 14px;
            color: themed("textColorSoft");
          }
          #recommendation-options {
            position: absolute;
            transition: visibility 50ms;
            visibility: hidden;
            top: 0px;
            right: 0px;
            padding: 2px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }
}
