@import "../common.scss";
.menu {
  @include themify($themes) {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 2;
    background-color: themed("bg");
    color: themed("textColor");
    font-size: 14px;
    &::-webkit-scrollbar {
      display: none;
    }
    .wrapper {
      padding: 18px 26px;
      hr {
        margin: 15px 0px;
        border: 0.5px solid rgba(255, 255, 255, 0.2);
      }
      h2 {
        font-size: 14px;
        font-weight: 500;
        color: themed("textColorSoft");
        margin-bottom: 20px;
      }
      .logo {
        font-size: 24px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: bold;
        margin-bottom: 25px;
        padding: 7.5px;
        img {
          height: 25px;
        }
      }
      .item {
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        padding: 7.5px;
        span{
          max-width: 170px;
          overflow: hidden; 
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .legals {
      }
      .copyright {
      }
    }
  }
}
