@import '../common.scss';
.navbar{
    @include themify($themes){
        position: sticky;
        top: 0;
        background-color: themed('bg');
        .wrapper{
            display: flex;
            align-items: center;
            .search{
                input{}
    
            }
        }
        button{
            padding: 5px 15px;
            background-color: transparent;
            border: 1px solid themed('buttonColor');
            color: themed('buttonColor');
            border-radius: 3px;
            font-weight: 500;
            margin-top: 10px;
            cursor:pointer;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}